  
 .quicksand-text{
   font-family: Quicksand,serif ;
   font-optical-sizing: auto;
    
   font-style: normal;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
     
     
}
@media (max-width:576px) {
  body{
    /* align-items: center; */
    
  }
  .main-container{
    padding-left: -20px;
  }
  .footer-container{
    margin-left: -10px;
  }
}
body{
  background-color: rgb(247, 247, 247);
  width: 1020px; 
  

}
 
          /* nav- bar-site  */
.nav-bar{
  display: flex;
  justify-content: space-between;
   align-items: center;
 
   margin-left: 190px;
  /* margin-right: 8.15rem;   */
  width: 1020px;
}
.nav-logo{
  display: flex;
  align-items: center;
}
.nav-logo img{
  height: 60px;
  margin-right: 10px;
  display: flex;
}
.icon{
   visibility: hidden;
    display: flex;
  color: black;
   font-size: 30px;
   
  text-decoration: none;
   
}
.nav-logo span{
  font-size: 2rem;
  font-weight: bold;
  color:  rgb(17, 17, 17);
  display: inline;
}
.nav-links{
  display: flex;
  gap: 32px;
}
.nav-links a{
  text-decoration: none;
  font-size: 1.25rem;
 

}
.contact-btn{
background-color: rgb(254, 163, 1);
color: rgb(255, 255, 255);
border: none;
/* padding: 10px 20px; */
width: 12.3rem;
height: 3.12rem;
border-radius: 12px;
cursor: pointer;
font-size: 1rem;
padding-left: 10px;
 margin-top: 20px;


}
.btn-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
   
}
@media (max-width:576px) {
  
  .nav-bar{
    max-width:358px;
    margin-left: 50px;
    margin-top: 20px;
     
  
  }
  .nav-logo span{
    display: none; 
  }
  .nav-links{
    display: none;
  }
  .contact-btn{
    display: none;
}
.icon{
  visibility: visible;
   
  /* margin-right: 5vw; */
  align-items: flex-end;
  display: flex;
  /* align-items: center; */
}
}
                 /* main-section */
                 
  #banner{  
  align-items: center;
  margin-left: 8.75rem;
  margin-right: 8.15rem;
  display: flex;
  width: 100%;
  flex-direction:row;
  padding: 20px 20px;
  justify-content:center;
  gap: 155px;
   /* flex-direction: row; */
  justify-items: space-between;

  
}
.banner-text{
  width: 450px;
  align-items: center;
  justify-content: flex-start;
  display: ;
}
.banner-text p{
  font-size: 20px;
  width: 34.37rem;
  margin-top:24px;
  font-weight: 400;
}
 .banner-text h6{
  font-size: 3.1rem;
  font-weight: bold;
  
 }
 .banner-head{
  width: 640px;
  height: 183px;
  margin-top: -40px;
 }
 .banner-btn{
  background-color:black;
color: rgb(255, 255, 255);
border: none;
 margin-top: 24px;
width: 12.3rem;
height: 3.12rem;
border-radius: 12px;
cursor: pointer;
font-size: 1rem;
 
 }
 .banner-img {
   width: 310px;
   height: 510px;
  padding: 0;
  
   
  display: flex;
 }  
  @media (max-width:576px)  { 
  body{
    width: 358px; 
    align-items: center;
    justify-content: center;
    display: inline;
     margin: 0;
     padding: 0;
      
  }
  .main-container{
    max-width: 358px;
  }
    #banner{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      max-width: 358px;;
      margin-left: 50px;
      margin-right: 0;
      text-align: center;

       
      
    }
    .banner-head{
      align-items: center;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      justify-content: center;
      
      margin-top: 0px;
       
     
    }
    .banner-text h6{
      width: 450px;
      font-size: 42px;
      align-items: center;
      text-align:center;
      
       margin: 0;
        
       
     
      
    }
    .banner-text p{
      font-size:16px ;
      width: 340px;
      text-align: center;
      align-items: center;
      /* height: 54px; */
       margin: 70px;
       margin-top: 10px;
       
    }
    .banner-btn{
      margin-top: -50px;
    }
    .banner-img{
      margin-bottom: -90px;
      display: flex;
        height:100%;
        padding:0; 
       margin-top: 60px;
       justify-content: center;
       align-items: center;
    
    }
    .banner-img img{
      width: 300px;
    }
  }

       /* standard- section */
  .standard-container{
    background-image: url(../assets/bg.png);
    width: 1022px;
    /* height: 624px; */
    margin-left: 190px;
    align-items: center;
    justify-items: center;
    justify-content: center;
     
  }
  .standard-container h2{
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;

  }
  .card{
    width:1022px;
     
    display: flex;
    grid-template-rows: auto;
    /* Classes */
    justify-items: center;
 
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:10px  ;
    padding-bottom: 70px;


  }
  .card-1{
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 30px ;
    text-align: center; 
    width: 320.66px;
    height:376px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
  }
  .card-2{
    padding-top: 30px ;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 320.66px;
    height: 376px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

  }
  .card-3{
     padding-top: 30px  ;  
     text-align: center;
     
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 320.66px;
    height:  376px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

      }
      .c-img{
        width:135px;
        height: 125px;

      }
      .card-1 p{
        margin-bottom: 25px;
         
      }
      .card-2 p{
        margin-bottom: 25px;
     
      }
      .card-3 p{
        margin-bottom: 25px;
         
      }
  .card-1 a{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
     
     
    
  }
  .cut{
    padding-left: 70px;
  }
  .card-2 a{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    
    
  }
  .card-3 a{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
     
    
  }
  .card-2 h4{
    padding-top:30px ;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 700;
     
  }
  .card-3 h4{
    padding-top:30px ;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .card-1 h4{
    padding-top:30px ;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;

  }
  .card-foot{
    margin-top: 10px;
    color: white;
    border-radius: 30px;
    background-color:rgb(254, 163, 1);
    height: 100vh; 
  }
  .buttons-container {
    display: flex;
    gap: 20px;
  }
  .button {
    width: 60px;
    height: 60px;
    background-color: #ffa500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .button span {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  .read{
    margin-top: 10px;
    padding-top: 10px;
  }
  
  @media (max-width:576px) {
    .card{
      margin: 0;
      padding: 0;
      flex-direction: column;
       grid-template:;
        grid-column: 1;
    }
    .standard-container{
      margin: 0;
      padding: 0;
      margin-left:-255px;
    }
    .standard-container h2{
      font-size: 40px;
    }
    .buttons-container{
       visibility: hidden;
       
    }
  }
            /* our stories */

   .stories{
   
     width: 1440px;margin-top: 60px;
    background-image: url(../assets/bg.png);
    background:  linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-color: rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3);
   }         
   .story-card{
   padding-bottom: 140px;
    width: 1022px;
    margin-left: 190px;
     }
     .card-start{
      height:630px ;
      display: flex;
      flex-direction: column;
     }
     .story-card h2{
      color: rgb(0, 0, 0);
      font-family: Quicksand;
      font-size: 46px;
      font-weight: 700;
      line-height: 57.5px;
      letter-spacing: 0%;
      text-align: center;
      padding: 60px 0px 60px 0px;

     }
     .s-card-1{
      width: 500px;
      height: 630.52px;
      background-color:rgb(255, 255, 255);
      border-radius: 16px;
      
     }
     .s-card-1 img{
      width: 500px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
     }
     .s-card-1 button{
      width: 174.51px;
      height: 47.93px;
      margin-left: 38.35px;
      margin-top: 0px;
       border: none;
      border-radius: 47.93px;
      background: rgb(60, 216, 232);
       color: rgb(255, 255, 255);
     }
     .s-btn-1{
      margin-top: -28.5px;
     }
     .s-card-1 h3{
      width: 402.49px;
      height: 69.98px;
      padding: 10px;
      padding-left: 38px;
      font-size: 24px;
      font-weight: bold;
      padding-top: 50px;
       
     }
     .s-card-1 p{
      padding: 10px;
      padding-left: 38px;
      font-size: 16px;
      padding-top: 90px;
      line-height: 28.76px;
     }
     .card-start{
      display: flex;
       flex-direction: row;
     }
     .main-card{
      display: flex;
      grid-column: 2;
     }
     .main-card p{
      margin-left: 20px;
      font-family: Quicksand;
     
      font-size: 15.34px;
      font-weight: 700;
      line-height: 28.76px;
      margin-top: 40px;
       
     }
     .s-card-2, .s-card-3, .s-card-4, .s-card-5{
      width: 240.2px;
      height: 305px;
      border-radius: 16px;
      margin-left: 19px;
      background: rgb(255, 255, 255);
     }
     .main-card button{
      width: 130px;
      height: 31.35px;
      margin-left: 28.35px;
      background-color: rgb(149, 178, 38); 
       border: none;
      border-radius: 47.93px;
       
      color:rgb(255, 255, 255) ;
     }
     .btn-c{
       margin-top: -20px;

     }
     .btn-c-blu button{
        background-color:  blue;
     }
      .main-card img{
      width:240.2px ;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
     }
     .s-card-2, .s-card-4{
      margin-bottom: 20px;
     }
     .story-btn {
      text-align: center;
      margin-top: 100px;
       
     }
     .story-btn button{
      background-color:  black;
color: rgb(255, 255, 255);
border: none;
/* padding: 10px 20px; */
width: 12.3rem;
height: 3.12rem;
border-radius: 12px;
cursor: pointer;
font-size: 1rem;
     }

     @media  (max-width:576px) {
       .stories{
        width: 358px;
        margin-left: 77px;
        margin-top: -40px;
        margin-bottom: -80px;
         
       }
       .card-start{
         margin-top: -80px;
        margin-bottom: -80;
       
       }
       .story-btn{
        margin-top: -60px;
       }
       .s-card-1{
        display: none;
       }
       .story-card   {
        width: 358px;
         margin: 0;
         text-align: center;
         

         
       }
       .story-card{
        padding-top: -10px;
       }
       .main-card{
         margin-top: 0;
        /* width:50%; */
        display: flex;
        /* margin-left: -196px; */
        align-items: center;
       
       }
       .s-card-2, .s-card-3, .s-card-4, .s-card-5{
        width:  155px;
        height: 180px;
       }
       .main-card img{
        width:  155px;
        height: 110px;
       }
       .main-card button{
        width: 95px;
        height: 26px;
        margin-left: -19px;
       }
       .main-card p{
        font-size: 12px;
        line-break: unset;
        display: flex;
        padding: 0;
        margin: 0;
        width:140px;
        margin-left: 10px;
        
        height: 5px;
        line-height: 15px;
        padding-top: 15px;
         
       }
     }
      
  /* foot */
  .footer {
    background-color: #008cff;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    width: 1440px;
    /* margin-top: 30px; */
    height: 500px;
     color: aliceblue;
     align-items: center;

     
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  
  
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
     
  }
  
  
  .footer-section h2, .footer-section h3 {
    margin: 10px 0;
    
  }
  .footer-section h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
     
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0 20px;
  }
  
  .footer-section ul {
    list-style: none;
     
  }
  
  .footer-section ul li {
    margin-bottom: 27px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a img {
    width: 24px;
    height: 24px;
  }
  .edu-img-flx{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
   
  }
  .edu-img-flx h2{
    padding-left: 10px;
    font-size: 42.14px;
font-weight: 700;
line-height: 39.51px;
padding-bottom: 30px;

  }
  .logo {
    width: 80px;
    height: 82px;
     padding-left: ;
     margin-left: -7px;
     color: #fff;
     margin-top: -30px;
    
  }
  @media  (max-width:576px){
    .footer{ 
      
       
        /* margin-left:  -50px; */
        /* display: flex; */
        margin:0 ;
        padding: 0;
        max-width: 358px;
        margin-left:77px;
        height: 720px;
       
     
    } 
    .footer-container{
     display: flex;
    /* position: absolute; */
      flex-direction:column;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      font-size: 17px; 
      font-weight: 400; 
      

    }
    .footer-section p{
      font-size: 17px; 
      letter-spacing: 20%;
    }
    .logo{
      width: 70px;
      height: 70px;
    }
    .edu-img-flx h2{
      font-size: 33px;
      font-weight: 700;
      line-height: 33.5px;
    }
     
  }
  